<br><h2 class="text-white"  style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Projetos</h2><br>
<button type="button" class="btn btn-secondary" (click)="adicionar()">Adicionar</button>
<br><br>
<div class="card-deck">

    <div *ngFor="let projetos of projetos" (click)="selecionarProjetos(projetos)">
      <div class="card bg-light mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{projetos.nome}}</h5>
          <p class="card-text">
              <br><i class="fas fa-file-text"></i> {{projetos.descricao}}
          </p>
          <button type="button" class="btn btn-primary btn-sm" (click)="initAtualizar(projetos)"><i class="fas fa-pencil-alt"></i></button>&nbsp;
          <button type="button" class="btn btn-danger btn-sm" (click)="apagar(projetos)"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div *ngIf="projetosNovo">
    <div class="card bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Novo Projeto</div>
        <div class="card-body">
            <div><span class="text-white">Nome: </span> <input [(ngModel)]="projetosNovo.nome" placeholder="nome"></div>
            <div><span class="text-white">Descrição: </span> <input [(ngModel)]="projetosNovo.descricao" placeholder="descricao"></div>
        
            <br><button (click)="salvarNovoProjetos()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
        </div>
      </div>
  </div>

  <div *ngIf="projetosAtualizar">
      <div class="card bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Atualizar {{projetosAtualizar.nome}}</div>
        <div class="card-body">
          <div><span class="text-white">Nome: </span> <input [(ngModel)]="projetosAtualizar.nome" placeholder="nome"></div>
          <div><span class="text-white">Descrição: </span> <input [(ngModel)]="projetosAtualizar.descricao" placeholder="descricao"></div>
    
          <br><button (click)="salvarAtualizarProjetos()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
          </div>
      </div>
    </div>
