<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Projetos">
    <ng-template ngbPanelContent>
      <table class="table table-hover"><thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projetos of projetos" (click)="selecionarProjetos(projetos)">
            <td>{{projetos.nome}}</td>
            <td>{{projetos.descricao}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm" (click)="apagar(projetos)"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <button (click)="adicionar()">Adicionar</button>
      <br>
      <div *ngIf="projetosNovo">
        <div><span>Nome: </span> <input [(ngModel)]="projetosNovo.nome" placeholder="nome"></div>
        <div><span>Descricao: </span> <input [(ngModel)]="projetosNovo.descricao" placeholder="descricao"></div>

        <br><button (click)="salvarNovoProjetos()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
      </div>
      
    </ng-template>
  </ngb-panel>
</ngb-accordion>