<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Colaboradores">
    <ng-template ngbPanelContent>
      <table class="table table-hover"><thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Formação</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colaboradores of colaboradores" (click)="selecionarColaboradores(colaboradores)">
            <td>{{colaboradores.nome}}</td>
            <td>{{colaboradores.email}}</td>
            <td>{{colaboradores.formacao}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="initAtualizar(colaboradores)"><i class="fa fa-pencil"></i></button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm" (click)="apagar(colaboradores)"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <button (click)="adicionar()">Adicionar</button>
      <br>
      <div *ngIf="colaboradoresNovo">
        <div><span>Nome: </span> <input [(ngModel)]="colaboradoresNovo.nome" placeholder="nome"></div>
        <div><span>Email: </span> <input [(ngModel)]="colaboradoresNovo.email" placeholder="email"></div>
        <div><span>Formacao: </span> <input [(ngModel)]="colaboradoresNovo.formacao" placeholder="formacao"></div>

        <br><button (click)="salvarNovoColaboradores()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
      </div>

      <div *ngIf="colaboradoresAtualizar">
          <div><span>Nome: </span> <input [(ngModel)]="colaboradoresAtualizar.nome" placeholder="nome"></div>
          <div><span>Email: </span> <input [(ngModel)]="colaboradoresAtualizar.email" placeholder="email"></div>
          <div><span>Formacao: </span> <input [(ngModel)]="colaboradoresAtualizar.formacao" placeholder="formacao"></div>
  
          <br><button (click)="salvarAtualizarColaboradores()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
        </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>