<br><h2 class="text-white"  style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Colaboradores</h2><br>
<div ngbDropdown >
  <button type="button" class="btn btn-secondary" id="dropdownConfig" (click)="adicionar()" ngbDropdownToggle><i class="fas fa-user-plus"></i></button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="bg-secondary mb-3">
    <div class="dropdown-item" *ngIf="colaboradoresNovo" class="bg-secondary mb-3">
        <div class="card bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header">Novo Colaborador</div>
            <div class="card-body">
                <div><span class="text-white">Nome: </span> <input [(ngModel)]="colaboradoresNovo.nome" placeholder="nome"></div>
                <div><span class="text-white">Email: </span> <input [(ngModel)]="colaboradoresNovo.email" placeholder="email"></div>
                <div><span class="text-white">Formacao: </span> <input [(ngModel)]="colaboradoresNovo.formacao" placeholder="formacao"></div>
            
                <br><button (click)="salvarNovoColaboradores()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
            </div>
          </div>
    </div>
  </div>
</div><br>
<div class="card-deck">

  <div *ngFor="let colaboradores of colaboradores" (click)="selecionarColaboradores(colaboradores)">
    <div class="card bg-light mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{colaboradores.nome}}</h5>
        <p class="card-text">
            <br><i class="fas fa-envelope"></i> {{colaboradores.email}}
            <br><i class="fas fa-user-graduate"></i> {{colaboradores.formacao}}
        </p>
        <button type="button" class="btn btn-primary btn-sm" (click)="initAtualizar(colaboradores)"><i class="fas fa-pencil-alt"></i></button>&nbsp;
        <button type="button" class="btn btn-danger btn-sm" (click)="apagar(colaboradores)"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>
<br>


  <div *ngIf="colaboradoresAtualizar">
      <div class="card bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Atualizar {{colaboradoresAtualizar.nome}}</div>
          <div class="card-body">
            <div><span class="text-white">Nome: </span> <input [(ngModel)]="colaboradoresAtualizar.nome" placeholder="nome"></div>
            <div><span class="text-white">Email: </span> <input [(ngModel)]="colaboradoresAtualizar.email" placeholder="email"></div>
            <div><span class="text-white">Formacao: </span> <input [(ngModel)]="colaboradoresAtualizar.formacao" placeholder="formacao"></div>
      
            <br><button (click)="salvarAtualizarColaboradores()">Salvar</button> <button (click)="cancelar()">Cancelar</button>
            </div>
      </div>
      
</div>